.dicoMot .name, .dicoMot .sens, .dicoMot .exemple {

    width: 70%;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;

    align-items: center;
    align-content: center;

    transition: transform 0.5s ease-in-out;

    box-shadow: 3px -3px 2px grey;
    background: linear-gradient(to right, lightgrey, white, lightgrey);

    font-family: Arial, Helvetica, sans-serif;
}

.dicoMot .name {
    height: 30%;
    font-weight: bolder;
}

.dicoMot .sens, .dicoMot .exemple {
    height: 20%;
}

.dicoMot .name:hover {
    transform: scale(1.2);
}

.dicoMot .exemple {
    font-style: italic;
}